<!DOCTYPE html>
<html>

<head>
  <title>Search Results - TechPDX Calendar</title>
</head>

<body>
    <div class="mb-4 mt-8 ml-8">
        <h1 class="text-lg text-grey3"> Search Results </h1>
    </div>
    <div class="ml-4">
        <ul>
          <% @events.each do |event| %>
            <div class="border-b border-grey9">
              <%= render partial: 'event_preview', locals: { event: event } %>
            </div>
          <% end %>
        </ul>
    </div>
</body>

</html>