<% content_for :title, "#{@event.title} - TechPDX Calendar" %>
<div class="flex flex-col min-h-screen">
  <div class="flex-grow max-w-screen-xl sm:px-6 sm:py-12 lg:px-8">
    <div class="border-2 border-grey9 rounded-lg">
      <div class="p-4 pl-6 bg-grey10">
        <h1 class="text-2xl text-grey3"><%= @event.title %></h1>
      </div>
      <div class="p-6">
        <div class="text-sm text-grey4 mb-8">
          <%= format_description(@event.description) %>
        </div>
        <%= render "events/event_details", event: @event %>
      </div>
    </div>
  </div>
</div>
